DB_USER=username_do_seu_banco
DB_URL=jdbc:postgresql://localhost:dockerPorta/dbnome
DB_PASSWORD=senha_do_seu_banco
DB_NAME=nome_do_banco
DB_PORT=porta_do_banco
PORT=porta_da_aplicação
JWT_SEGREDO=sua_jwt_secret